<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeping"
            id="com.packtpub.e4.clock.ui">
      </category>
      <view
            name="Clock View"
            icon="icons/sample.gif"
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.ClockView"
            id="com.packtpub.e4.clock.ui.views.ClockView">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneView"
            name="Time Zone View"
            restorable="true">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            name="Time Zone Tree View"
            restorable="true">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            name="Time Zone Table View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="java.util.TimeZone"
            class="com.packtpub.e4.clock.ui.internal.TimeZoneAdapterFactory">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
   </extension>


</plugin>
