<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.packtpub.e4.headless.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.packtpub.e4.headless.application.id"
            name="Headless Product">
         <property
               name="appName"
               value="Headless Product">
         </property>
      </product>
   </extension>

</plugin>
